<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>767781555227-unl751fu1u6rp9h8hhtbfvmcqrkkhur3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767781555227-unl751fu1u6rp9h8hhtbfvmcqrkkhur3</string>
	<key>API_KEY</key>
	<string>AIzaSyAhMn68b8z_Wd-JUknUFHXHVV0csp9i6tI</string>
	<key>GCM_SENDER_ID</key>
	<string>767781555227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bojms45</string>
	<key>PROJECT_ID</key>
	<string>loginandregisterapp</string>
	<key>STORAGE_BUCKET</key>
	<string>loginandregisterapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767781555227:ios:a7f6a739dcb5dae6</string>
	<key>DATABASE_URL</key>
	<string>https://loginandregisterapp.firebaseio.com</string>
</dict>
</plist>